*{
  border: none;
  margin: 0px;
  padding: 0px;
  color: white;

}

:root{
  --bgcolor: #29293d;

}

body{
  background-color: var(--bgcolor);

}

h1{
  display: block;
  margin: auto;
  text-align: center;
  

}

hr{
  height: 2px;
  background-color: white;
  width: 90%;
  margin: auto;

}

div.container{
  margin: auto;
  width: 100vw;

}

section{
  margin-top: 50px;

}

input{
  background-color: var(--bgcolor);
  border: 2px dashed white;
  width: 100%;
  font-size: 24px;

}

button{
  background-color: var(--bgcolor);
  border: 2px solid white;
  font-size: 24px;
  padding-left: 6px;
  padding-right: 6px;
  width: 100%;

}

@media screen and (min-width: 900px){
  div.container{
    width: 70vw;
  
  }

  input{
    width: 50%;

  }

  button{
    width: auto;

  }

}
